<div class="text-center" id="blog-by-id">
  <h2>{{title}}</h2>
  <hr>
  <p>{{content}}</p>
  <p>Created by {{user.userName}} on {{format_date createdAt}}</p>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-desc">Comment here:</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

 