<ul> 
  {{#each users as |user|}} 
  <li>{{user.userName}}</li> 
  {{/each}} 
</ul>

<ul> 
  {{#each blogs as |blog|}} 
  <li>{{blog.title}}</li> 
  {{/each}} 
</ul>

<ul> 
  {{#each comments as |comment|}} 
  <li>{{comment.comment}}</li> 
  {{/each}} 
</ul>