* {
margin: 0;
padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

#blog-post {
border-style: solid;
margin: 50px 20px 20px 20px;
padding: 20px 20px 20px 20px;
}

#blog-title {
  text-decoration: none;
  color: black;
  font-weight: 300;
  
}

#blog-by-id {
  border-style: solid;
  margin: 50px 20px 20px 20px;
  padding: 30px 30px 30px 30px;
}

hr {
  margin-inline-start: 70px;
  margin-inline-end: 70px
}



/* @media only screen and (min-width: 768px) {
  #navbarNav {
  
  }
} */
